@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  background-color: #f9f7fd !important;
  font-family: "Kumbh Sans", sans-serif;
  /* filter: brightness(); */
}

/* Swiper navigation icon style  */

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next" !important;
  background-color: #ffa229 !important;
  /* backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important; */
  color: #fff !important;
  border-radius: 100% !important;
  padding: 10px 15px !important;
  font-size: 15px !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  background-color: #ffa229 !important;
  /* backdrop-filter: blur(10px) !important; */
  /* -webkit-backdrop-filter: blur(10px) !important; */
  content: "prev" !important;
  color: #fff !important;
  border-radius: 100% !important;
  padding: 10px 15px !important;
  font-size: 15px !important;
}
.swiper-pagination-fraction {
  color: #ffa229 !important;
}
